<section id="client">
  <div class="flex">
    <div class="col-2">
     <h3 class="section-title">WHAT CUSTOMERS ARE SAYING</h3>
       <div class="client-container">
       <ul class="faces">
        <li class="face1 face"><div class="bubble">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in est vitae sapien dignissim maximus eu in magna. Maecenas sit amet dui at tellus auctor mollis.</div></li>
         <li class="face2 face"><div class="bubble">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in est vitae sapien dignissim maximus eu in magna.</div></li>
      </ul>
      </div>
     </div>
     <div class="col-2" id="jobs">
      <h3 class="section-title">LOOKING FOR A JOB?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in est vitae sapien dignissim maximus eu in magna. Maecenas sit amet dui at tellus auctor mollis. Donec non felis tempor, pellentesque justo porttitor, porta nisi. Aliquam leo leo, mattis in tempus et, hendrerit quis turpis. Praesent vitae rutrum risus, eu varius metus. Vestibulum id lectus non massa pharetra lacinia eget eu sem. Mauris pellentesque est vel sapien blandit, in imperdiet augue aliquet. Proin velit metus, fringilla id laoreet non, porttitor quis massa. Etiam rutrum faucibus consectetur. Pellentesque non metus sit amet risus volutpat rutrum vel non elit. Aenean pellentesque dui non erat hendrerit ornare. Sed fringilla felis eget nibh fermentum, vel egestas nibh condimentum. Vestibulum non placerat ex. In pretium sapien ante, id vestibulum lorem suscipit in. Vestibulum neque neque, fermentum vel risus a, egestas consectetur ante.</p>
    </div>

  </div>
</section>
