<section id="contact">
    
     <div class="flex">   
    <div class="col-2">
      
      <div class="contact-conatiner">
      
      <img src="assets/img/moeClean-sm.png" class="contact-logo">
      <h4>Maureen Nauslar</h4>
      <ul>
        <li>MNauslar@gmail.com</li>
        <li>316-263-6969</li>
        <li>Wichita, Kansas and Surronding Areas</li>  
      </ul>
      
      <hr>
        
      <h4>Employees</h4>
       <ul>
        <li>John Doe</li>
        <li>John Doe</li>
        <li>John Doe</li>  
      </ul>
      
      </div>
      
    </div>  
    <div class="col-2">
      <h3>LET'S START CLEANING, CONTACT ME</h3>
      
      <div class="form-container">
      
      <form method="POST" action="https://formspree.io/MNauslar@gmail.com">
        <input type="text" name="name" placeholder="Name *">
        <input type="text" name="company" placeholder="Company">
        <input type="email" name="_replyto" placeholder="E-Mail *">
        <input type="text" name="phone" placeholder="Phone">
        <input type="text" name="inquiring" placeholder="Inquiring * (Residential or Business?)">
        <textarea name="message" placeholder="Message *"></textarea>
        <input type="submit" value="Send" class="send-cta">
      </form>
      
      </div>
       
    </div>   
  </div>
   
</section>