
// Button for Services -----------

.service-cta
  display: block
  width: 100%
  border: none
  outline: none
  margin: 0 auto
  //border-radius: 0.5rem
  padding: 0.4rem 2rem
  font-weight: 700
  font-size: 16px
  color: $moewhite
  text-decoration: none
  text-alighn: center
  cursor: pointer
  
  &:hover
    color: $moewhite
  
    
  @media (max-width: 397px)
    font-size: 12px
  
    
    
.cta-box
  //display: inline-block
  //max-width: 600px
  text-align: center
  border: 2px solid $moewhite
  margin: 25px auto 0 auto
  padding: 5px
  cursor: pointer
  
    
  &:hover
    color: $moewhite
    color: $moewhite
    background:
      color: pink
  
// ----------- END--------------

